/* line 13, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 23, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/_reset.scss */
ol, ul {
  list-style: none; }

/* line 29, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 33, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 37, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/HelveticaNeue.eat");
  src: url("../font/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../font/HelveticaNeue.woff") format("woff"), url("../font/HelveticaNeue.ttf") format("truetype"); }

/* variables */
/* variables */
/* snippets */
/* line 16, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.clearfix:after {
  content: '';
  clear: both;
  display: block; }

/* snippets */
/* tags */
/* line 23, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
body {
  width: 100%;
  height: 100%;
  line-height: 1; }

/* line 28, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
button {
  outline: none;
  border: none;
  cursor: pointer; }

/* line 33, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
input {
  border: none; }

/* tags */
/* line 38, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.wrapper {
  width: 100%;
  height: 100%;
  min-height: 1080px;
  background: url(../img/background.png) no-repeat center center;
  background-size: cover;
  font-family: "Helvetica Neue", Tahoma;
  position: relative; }

/* line 48, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.header {
  height: 36px;
  font-size: 14px;
  background: royalblue;
  padding-right: 20px; }

/* line 55, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.header_menu {
  float: right; }
  /* line 57, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
  .header_menu a {
    line-height: 36px;
    padding: 0 10px;
    float: left;
    color: #60b5ed;
    text-decoration: none; }
  /* line 64, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
  .header_menu a:hover {
    color: #fefefe;
    background: #128aa7; }

/* line 70, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.header_offer {
  float: right;
  padding: 0 10px 0 40px;
  line-height: 36px;
  border-left: 2px solid #128aa7;
  color: #fefefe;
  text-decoration: none;
  background: url(../img/inventicons-29.png) no-repeat center left 10px; }

/* line 80, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.header_enter {
  padding: 11px;
  float: right;
  color: #feffff;
  background: linear-gradient(0deg, #54ABDA 0%, #99CBEF 100%); }
  /* line 85, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
  .header_enter a {
    color: #feffff; }

/* line 90, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.wrap_singin {
  width: 560px;
  height: 620px;
  left: 50%;
  top: 50%;
  margin: -310px 0 0 -280px;
  position: absolute;
  background: rgba(72, 75, 77, 0.5);
  text-align: center; }
  /* line 99, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
  .wrap_singin h2 {
    width: 560px;
    padding: 20px 0;
    font-size: 24px;
    color: #fff;
    border-bottom: 1px solid #fff; }

/* line 108, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.wrap__form {
  width: 275px;
  height: 450px;
  margin: 20px auto;
  color: aliceblue; }
  /* line 113, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
  .wrap__form ::-webkit-input-placeholder {
    color: #fff; }
  /* line 116, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
  .wrap__form :-moz-placeholder {
    /* Firefox 18- */
    color: #fff; }
  /* line 119, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
  .wrap__form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff; }
  /* line 122, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
  .wrap__form :-ms-input-placeholder {
    color: #fff; }

/* line 127, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.wrap__fblogin {
  width: 244px;
  height: 35px;
  margin-bottom: 30px;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 800;
  color: aliceblue;
  float: left;
  background: -webkit-linear-gradient(bottom, #3b5998 50%, #99CBEF 100%);
  background: -o-linear-gradient(bottom, #3b5998 50%, #99CBEF 100%);
  background: url(../img/wrapper_btn.png) no-repeat right 20px center, linear-gradient(to top, #3b5998 50%, #99CBEF 100%); }
  /* line 140, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
  .wrap__fblogin span {
    font-weight: 400; }

/* line 145, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.wrap__checkbox {
  margin: 10px 0 20px 0; }
  /* line 147, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
  .wrap__checkbox input {
    width: 13px;
    margin: 3px 0;
    float: left;
    cursor: pointer; }
  /* line 153, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
  .wrap__checkbox label {
    margin-left: -30px;
    font-size: 14px;
    cursor: pointer; }

/* line 160, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.wrap__create {
  padding: 10px 15px;
  border-radius: 3px;
  color: aliceblue;
  cursor: pointer;
  background: linear-gradient(0deg, #3b5998 0%, #70CBEF 100%); }

/* line 168, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.footer {
  width: 309px;
  margin: 20px auto;
  font-size: 11px;
  color: #ccc; }

/* line 175, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.wrap_linetxtline {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  color: #ccc;
  text-align: center;
  display: block;
  clear: both; }

/* line 186, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.wrap_linetxtline:before,
.wrap_linetxtline:after {
  width: 50%;
  height: 1px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-clip: content-box;
  background: #ccc; }

/* line 196, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.wrap_linetxtline:before {
  left: -0.5em;
  margin: 0 0 0 -50%; }

/* line 200, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.wrap_linetxtline:after {
  left: 0.5em;
  margin: 0 -50% 0 0; }

/* line 204, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.wrap_singin_btn {
  width: 275px;
  margin: 30px auto; }
  /* line 207, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
  .wrap_singin_btn a {
    padding: 0 11px;
    line-height: 35px;
    font-size: 24px;
    font-weight: bold;
    border-right: 1px solid #128aa7;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #fff;
    float: left;
    text-decoration: none;
    text-transform: lowercase;
    background: -webkit-linear-gradient(bottom, #3b5998 50%, #99CBEF 100%);
    background: -o-linear-gradient(bottom, #3b5998 50%, #99CBEF 100%);
    background: linear-gradient(to top, #3b5998 50%, #99CBEF 100%); }

/* line 225, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
.form_input {
  width: 260px;
  margin: 10px 0;
  padding: 10px 0 10px 15px;
  color: aliceblue;
  background: #000; }
  /* line 232, C:/Users/junglemonk/GoIT/markup/home/lesson5/css/style.scss */
  .form_input:focus {
    background: royalblue;
    outline-color: dodgerblue;
    box-shadow: 0 0 20px dodgerblue; }

/*# sourceMappingURL=style.css.map */