body {
    font:100% Helvetica
}
a {
    text-decoration:none
}
p,li,a {
    font-size:16px
}
.wrap {
    padding:5%
}
.header {
    text-align:center
}
.header_img {
    width:275px;
    height:240px
}
.content__phone {
    margin:0 0 3em
}
.content__fb {
    color:rebeccapurple
}
.content_info {
    padding-bottom:10px
}
.content_dscrptn,.content_info,.header {
    border-bottom:1px solid silver
}