/***IMPORT***/
@import 'reset';
/***VARIABLES***/
$font: Tahoma;

/***TAGS***/
body {
    font-family: $font;
}
/***FOOTER***/
/***BACKGROUND***/
.background_row1 {
    height: 150px;
    border-top: 20px solid #1D76B5;
    background-color: aliceblue;
}

.background_row2 {
    height: 900px;
    background: #06538A;
}
/***WRAPPER***/
.wrapper {
    width: 1000px;
    position: absolute;
    overflow: hidden;
    left: 50%;
    margin-left: -510px;
    background-color: #fff;
    -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
/***HEADER***/
.header {
    position: relative;
    height: 160px;
    padding: 10px 20px 0 20px;
}
.header_logo {
    width: 283px;
    height: 164px;
    float: left;
    background: url('../img/logo.png');
}
.header_contacts {
    float: right;
    color: rgba(18, 138, 167, 0.8);    
    list-style: none;
    font-size: 12px;
    li {
        margin-bottom: 5px;
    }
    li:first-child {
        font-size: 14px;
        font-weight: 800;
    }
}
.header_country {
    bottom: 10px;
    right: 20px;
    position: absolute;
    list-style: none;
    li {
         display: inline-block;
    }
    a {
        padding: 55px 10px 0 7px;
        font-size: 10px;
        color: #128aa7;
    }
}
.header_country_india {
    background: url('../img/ind_flag.png') no-repeat center center;
    margin-right: 15px;
}
.header_country_nepal {
    background: url('../img/nep_flag.png') no-repeat center center;
    margin-right: 15px;
}
.header_country_tibet {
    background: url('../img/tib_flag.png') no-repeat center center;
    margin-right: 15px;
}
.header_country_butan {
    background: url(../img/but_flag.png) no-repeat center center;
    
}
.header_country_sri {
    background: url(../img/sri_flag.png) no-repeat center center;
}
.header_country_maldives {
    background: url(../img/mal_flag.png) no-repeat center center;
    margin-left: -5px;
}
.wrapper_img {
    width: 100%;
    height: 250px;
}
.wrapper_nav_main {
    width: 1000px;
    font-size: 14px;
    float: left;
    li {
        width: 14.28%;
        position: relative;
        float: left;
        text-align: center;
        display: block;
      a {
        padding: 10px 0;
	    color:#fff;
	    background:#333;
	    text-decoration:none;
        display: block;
      }
    /***all style for "a"***/
    }/***all style for "li"***/
    a:hover {
        background: #696969;
    }/***hover for all "a"***/
 /***DROPDOWN***/
  ul {
    list-style:none;
    position: absolute;
    left: -9999px;
    z-index: 999;
    display: none;
    li {
      text-align: left;
      float: none;        
      width: 120px;
     }
    a {
        white-space: nowrap;
      }
  }
  /***show dropdown***/
  li:hover {
     ul {
      left: 0;
      display: block;
      a {
        padding-left: 5%;
      }
    }
  }
}
/***columb***/
.container_back_main {
   width: 100%;
   left: 60%;
   position: relative;
   float: left;
   background: grey;
}
.container_back2 {
  width: 100%;
  left: 20%;
  position: relative;
  float: left;
  background: #fff;
}
.container_back3 {
  width: 100%;
  position: relative;
  float: left;
  background: grey;
  overflow: hidden;
}
/***content***/
.wrap_contanier_left {
  width: 16%;
  min-height: 520px;
  left: -78%;
  position: relative;
  float: left;
  overflow: hidden;
}
.wrap_container_center {
  width: 56%;
  left: -74%;
  position: relative;
  float: left;
  overflow: hidden;
}
.wrap_container_right {
  width: 16%;
  left: -70%;
  position: relative;
  float: left;
  overflow: hidden;
}
/***columb***/
.footer {
    width: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #06538A;
    p {
        padding: 5px 0;
    }
}
.wrap_content {
    h3 {
        text-align: center;
        padding: 10px 0;
    }
    p {
        margin: 0 12px;
    }
}


