/* line 1, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* line 9, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
tr,
td {
  margin: 0;
  padding: 0; }

/* line 13, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
table {
  margin: 5% auto; }

/* line 16, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
td {
  border: 5px solid black;
  height: 50px;
  width: 50px; }

/* line 23, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row1 td:first-of-type {
  border-top: none;
  border-left: none; }

/* line 27, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row1 td:nth-of-type(2) {
  border-top: none; }

/* line 30, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row1 td:nth-of-type(3) {
  border-top: none;
  background: yellow;
  border-right: none; }

/* line 39, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row2 td:first-of-type {
  border-left: none; }

/* line 42, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row2 td:nth-of-type(2) {
  height: 250px;
  width: 250px;
  background: red; }

/* line 47, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row2 td:nth-of-type(3) {
  border-right: none;
  background: yellow; }

/* line 55, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row3 td:first-of-type {
  border-left: none; }

/* line 58, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row3 td:nth-of-type(3) {
  border-right: none; }

/* line 65, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row4 td:first-of-type {
  background: grey; }

/* line 68, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row4 td:nth-of-type(2) {
  background: grey; }

/* line 71, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row4 td:nth-of-type(4) {
  border-right: none; }

/* line 78, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row5 td:first-of-type {
  border-left: none;
  border-bottom: none;
  background: yellow; }

/* line 83, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row5 td:nth-of-type(2) {
  background: grey; }

/* line 86, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row5 td:nth-of-type(3) {
  background: grey; }

/* line 89, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row5 td:nth-of-type(5) {
  background: blue;
  border-right: none; }

/* line 97, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row6 td:first-of-type {
  border-bottom: none;
  border-bottom: none; }

/* line 101, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row6 td:nth-of-type(2) {
  background: grey; }

/* line 108, C:/Users/junglemonk/GoIT/markup/home/lesson5.1/css/style.scss */
.row7 td:first-of-type {
  border-right: none;
  border-bottom: none; }

/*# sourceMappingURL=style.css.map */