* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
tr,
td {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}

.wrapper_table {
    width: 500px;
    margin: auto;
    border-collapse: collapse;
    td {
        border: 5px solid #000;
        border-top: none;
    }
}

.wrap_table_header {
    td {
        height: 50px;
        &:first-of-type {
            width: 100px;
            border-left: none;
        }
        &:nth-of-type(2) {
            width: 200px;
        }
        &:nth-of-type(3) {
            width: 200px;
            border-right: none;
            background: yellow;
        }
    }
}

.wrap_table_body {
    td {
        height: 150px;
        &:first-of-type {
            width: 50px;
            border-left: none;
        }
        &:nth-of-type(2) {
            width: 250px;
            border-bottom: 5px solid red;
            background: red;
        }
        &:nth-of-type(3) {
            width: 200px;
            border-right: none;
            background: yellow;
        }
    }
}



.wrap_table_body2 {
    td {
    height: 150px;
    &:first-of-type {
        width: 50px;
        border-top: none;
        border-bottom: none;
        border-left: none;
        }
    &:nth-of-type(2) {
        width: 250px;
        background: red;
        }
    &:nth-of-type(3) {
        width: 100px;
        }
    &:nth-of-type(4) {
        width: 100px;
        border-right: none;
        }
    }
}

.wrap_table_body3 {
    td {
    height: 50px;
    &:first-of-type {
        width: 50px;
        border-bottom-color: #000;
        border-left: none;
        }
    &:nth-of-type(2) {
        width: 125px;
        background: #000;
        }
    &:nth-of-type(3) {
        width: 125px;
        }
    &:nth-of-type(4) {
        border-right: none;
        }
    }
}

.wrap_table_body4 {
    td {
        height: 50px;
        &:first-of-type {
            width: 50px;
            border-left: none;
            border-bottom-color: yellow;
            background: yellow;
        }
        &:nth-of-type(2) {
            width: 125px;
            background: #000;
        }
        &:nth-of-type(3) {
            width: 125px;
        }
        &:nth-of-type(4) {
            border-right: none;
            border-bottom: 5px solid blue;
            background: blue;
        }
    }
}

.wrap_table_body5 {
    td {
        height: 25px;
        &:first-child {
            width: 50px;
            border-left: none;
            border-bottom-color: yellow;
            background: yellow;
        }
        &:nth-of-type(2) {
            width: 125px;
            border-bottom: none;
        }
        &:nth-of-type(3) {
            width: 125px;
            background: #000;
        }
        &:nth-of-type(4) {
            border-right: none;
            background: blue;
        }
    }
}

.wrap_table_foot {
    td {
        height: 25px;
        border-bottom: none;
        &:first-child {
            width: 50px;
            border-left: none;
            background: yellow;
        }
        &:nth-of-type(2) {
            width: 125px;
            border-top: none;
        }
        &:nth-of-type(3) {
            border-right: none;
        }
    }
}
